* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

header,
.recent-project,
#footer-top,
#footer-bottom {
  width: 100%;
  padding: 5%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links li {
  display: inline-block;
  padding: 5px;
}

#retard {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

#projects {
  border-bottom: 1px solid currentColor;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: normal;
}

.title {
  margin-right: 20%;
  padding-top: 5%;
  /* padding-bottom: 25px; */
  font-size: 60px;
  font-weight: lighter;
}

.head-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.head-img img {
  width: 100%;
  height: auto;
  margin: -25% 0 0 0;
}

#recent-text {
  margin-right: 50%;
  padding-top: 2%;
  line-height: 200%;
}

.projects {
  padding-bottom: 5%;
}

.projects .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.projects img {
  width: 39%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.projects ul {
  text-align: center;
}

.projects li {
  display: inline;
}

.projects img:hover {
  opacity: 0.3;
  transition: 0.4s;
}

.projects img:not(:hover) {
  transition: 0.4s;
}

#footer-text {
  margin-right: 50%;
  padding-top: 2%;
  padding-bottom: 4%;
  line-height: 200%;
}

#footer-top {
  background-color: #0d0c12;
  color: #fefefe;
}

#footer-bottom p {
  /* margin-right: 50%; */
  /* padding-top: 2%; */
  /* line-height: 10%; */
  padding-bottom: 2%;
}

footer #footer-top a {
  text-decoration: none;
  color: #000;
  background-color: #fefefe;
  padding: 1em 2em;
}

footer a:hover {
  opacity: 0.5;
  transition: 0.2s;
}

footer a:not(:hover) {
  transition: 0.2s;
}

#footer-bottom a {
  text-decoration: none;
  color: #202121;
}

#footer-bottom h1 {
  padding-bottom: 4%;
}

#footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
