* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header,
#recent-project,
#footer-top,
#contact {
  width: 100%;
  padding: 5%;
}

#recent-project {
  text-align: center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links li {
  display: inline-block;
  padding: 5px;
}

#retard {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 150%;
}

#projects {
  border-bottom: 1px solid currentColor;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 130%;
  font-weight: normal;
}

.title {
  /* margin-right: 40%; */
  padding-top: 5%;
  /* padding-bottom: 25px; */
  font-size: 220%;
  font-weight: bold;
}

.head-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.head-img img {
  width: 100%;
  height: 100%;
  margin: -25% 0 0 0;
}

#recent-text {
  /* margin-right: 50%; */
  text-align: center;
  padding-top: 2%;
  line-height: 200%;
}

#projects {
  padding-bottom: 5%;
}

#projects .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 2.5%; */
  /* padding-bottom: 2.5%; */
}

#projects img {
  width: 40%;
  margin: 2%;
}

#projects ul {
  text-align: center;
}

#projects li {
  display: inline;
}

#projects img:hover {
  opacity: 0.3;
  transition: 0.4s;
  box-shadow: 5px 10px 10px #0d0c12;
}

#projects img:not(:hover) {
  transition: 0.4s;
  box-shadow: 5px 10px 10px #0d0c12;
}

#footer-text {
  margin-right: 50%;
  padding-top: 2%;
  padding-bottom: 4%;
  line-height: 200%;
}

#footer-top {
  background-color: #0d0c12;
  color: #fefefe;
}

#contact p {
  /* margin-right: 50%; */
  /* padding-top: 2%; */
  /* line-height: 10%; */
  padding-bottom: 2%;
}

footer #footer-top a {
  text-decoration: none;
  color: #000;
  background-color: #fefefe;
  padding: 1em 2em;
}

footer a:hover {
  opacity: 0.5;
  transition: 0.2s;
}

footer a:not(:hover) {
  transition: 0.2s;
}

#contact a {
  text-decoration: none;
  color: #202121;
}

#contact h1 {
  padding-bottom: 4%;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-bottom-right {
  text-align: right;
  /* height: 20px; */
}

#footer-bottom-right img {
  height: 50px;
}

.contact-button {
  margin-right: 25px;
}

.contact-button:last-child {
  margin-right: 0;
}

@media (max-width: 850px) {
  #footer-text {
    margin-right: 0%;
  }
}
