html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/assets/meh.ro12348_3.jpg");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-list ul {
  margin: 0;
}

.contact-list li {
  display: inline;
}

.contact-list a {
  text-decoration: none;
  color: whitesmoke;
  padding: 1em;
  display: inline-block;
}

.contact-list a:hover {
  color: #58b19f;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.7s;
}

.contact-list {
  text-align: center;
  padding-right: 40px;
  word-spacing: 0 auto;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #1e272e;
  width: 100%;
  position: fixed;
}

.picture {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  padding: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

#introduction {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

#project-words {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: white;
}

.me {
  width: 100%;
  height: 100%;

  height: 100%;
  padding-top: 200px;
}
#about-me {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  color: white;
}
#about-me-ask {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Barlow", sans-serif;
  color: white;
}

#about-me-intro {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Barlow", sans-serif;
  color: white;
}

.contact-image {
  width: 50px;
}

.contact {
  justify-content: center;
  word-spacing: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;
}

#tinker-button:link {
  text-decoration: none;
}

#tinker-button {
  color: aqua;
}

#tinker-button:hover {
  text-decoration: underline;
  color: aqua;
}

#project-ulist {
  /* margin: auto; */
  text-align: center;
}

#project-ulist li {
  display: inline;
}

#project-ulist li a img {
  margin-left: auto;
  margin-right: 2em;
  padding: 0 auto;
  width: 25%;
  height: 25%;
}
